@font-face {
  font-family: 'Ankh Sanctuary';
  src: url('/assets/fonts/ankh-sanctuary-font/AnkhSanctuary-PVK0B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 100%; /* base 16px by default */
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(30, 30, 30, 1.0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ankh Sanctuary', sans-serif;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: clamp(250px, 40vw, 500px);
  padding: 2rem;
  
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.content p {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: clamp(2rem, 5vw, 5rem);
}

.content a {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-decoration: none;
  color: rgba(60, 100, 200, 1.0);
  cursor: pointer;
  transition: color 0.3s ease;
}

.content a:hover {
  color: rgba(100, 160, 255, 1.0);
}

canvas#starCanvas {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}