
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom styles just for landing -->
  <link rel="stylesheet" href="/assets/css/home.css">

  <!-- Add anime.js or any other libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" defer></script>
  <script src="/assets/js/home.js" defer></script>
</head>
<body>
  <canvas id="starCanvas"></canvas>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>